<nav id="sidebar" class="active">
	<div class="sidebar-header">
		<img th:src="@{/img/bootstraper-logo.png}" alt="bootraper logo" class="app-logo">
	</div>
	<ul class="list-unstyled components">
		<li>
			<a href="#sysManager" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-home"></i> 系统管理</a>
			<ul class="collapse list-unstyled" id="sysManager">
				<li>
					<a th:href="@{/api/user/list}"> 用户管理</a>
				</li>
				<li>
					<a href="ui-badges.html"> 角色管理</a>
				</li>
				<li>
					<a href="ui-cards.html"> 权限管理</a>
				</li>
			</ul>
		</li>
	</ul>
</nav>
