<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>

	<h1>login</h1>
	<form action="/api/user/login" th:object="${user}" method="post">
		username:<input th:field="*{user_name}" autocomplete="disabled"/>
		password:<input th:field="*{password}" autocomplete="disabled"/>
		<button>submit</button>
	</form>

	<script th:inline="javascript">
		var result = [[${result}]];
		if(result.code && +result.code > 0){
			alert(result.content);
		}
		console.log(result);
	</script>
</body>
</html>