<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>注册</title>
</head>
<body>
	<h1>注册</h1>

	<form action="/api/user/save" th:object="${user}" method="post">
		username:<input th:field="*{user_name}" autocomplete="disabled"/>
		password:<input th:field="*{password}" autocomplete="disabled"/>
		gender: 男<input type="radio" th:field="*{gender}" value="man" autocomplete="disabled"/>
		女<input type="radio" th:field="*{gender}" value="women" autocomplete="disabled"/>

		<button>submit</button>
	</form>
</body>
</html>