<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UserInfo</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <!-- BootStrap -->
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.js"></script>
    <!-- bootbox -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
</head>

<body>
<h3>用户管理界面</h3>
<p th:text="${msg}"></p>
<button id="newUserBtn" class="btn-primary">新建</button>
<button id="updateUserBtn" class="btn-primary">修改</button>
<ul class="table">
    <li class="table-row">
        <div class="table-column">id</div>
        <div class="table-column">用户名</div>
        <div class="table-column">盐</div>
        <div class="table-column">状态</div>
        <div class="table-column">操作</div>
    </li>
</ul>
<ul class="table" th:each="user:${userList}">
    <input th:id="${user.uid}" type="checkbox"/>
    <li class="table-row">
        <div class="table-column">[[${user.uid}]]</div>
        <div class="table-column">[[${user.username}]]</div>
        <div class="table-column">[[${user.salt}]]</div>
        <div class="table-column" th:text="${user.state} == 0?'激活':'未激活'">激活</div>
        <div class="table-column">
            <form th:action="@{/userInfo/userDel}" th:method="delete">
                <input hidden name="uid" th:value="${user.uid}">
                <button style="cursor: pointer" type="submit">删除</button>
            </form>
        </div>
    </li>
</ul>
</body>
<script>
    $("#newUserBtn").click(()=>{
        bootbox.dialog({
            title:'新增用户',
            message: '<form id="userForm" action="/userInfo/userAdd" method="POST">' +
                '用户名<input name="username"/>' +
                '密码<input type="password" name="password"/>' +
                '<button>提交</button>' +
                '</form>'
        });
    });

    $("#updateUserBtn").click(()=>{
        const checked = $('input[type=checkbox]:checked')[0];
        console.log(checked);
        if(!checked) {
            alert('请选择一个用户');
            return;
        }
        var $row = $(checked).next("li");
        var user_name = "";
        var uid = "";
        console.log(user_name = $row.children('div').eq(1).text())
        console.log(uid = $row.children('div').eq(0).text())
        bootbox.dialog({
            title:'用户信息修改',
            message: '<form id="userForm" action="/userInfo/userUpdate" method="POST">' +
                '<input hidden name="uid" value="'+uid+'"/>' +
                '用户名<input name="username" value="'+user_name+'"/>' +
                '密码<input type="password" name="password"/>' +
                '<button>提交</button>' +
                '</form>'
        });

    });
</script>
</html>